* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg.jpg") no-repeat center center / cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card, .container {
  background: rgba(30,30,30,0.9);
  padding: 25px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00c853;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00e676;
}

.input-box {
  display: flex;
  gap: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: rgba(255,255,255,0.1);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 35px;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;

  /* 👇 COLOR CONTROL */
  color: #00e676;        /* green */
  opacity: 0.8;
}

.password-box span:hover {
  opacity: 1;
}


.quote {
  position: absolute;
  top: 20px;
  background: rgba(0,0,0,0.6);
  padding: 10px 15px;
  border-radius: 6px;
}

.logout {
  background: red;
  margin-top: 15px;
}
